<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>学生信息修改页面</h1>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">学号: {{info.id}} 不支持修改</label>
                    <input id="hiddenId" type="text" name="id" value="{{info.id}}" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">姓名: 原为 {{info.name}}</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="name" required aria-describedby="emailHelp">
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg active" role="button">确认修改</button>
              </form>
        </div>
    </div>
    
</body>
</html>